@use "sass:color" as c;

$color-primary: #2aaa42;
$color-secondary: white;
$color-hover: c.scale($color-primary, $lightness: 8%);
$color-active: c.scale($color-primary, $lightness: -8%);
$color-hover-trans-btn: c.scale($color-primary, $lightness: 20%);
$color-active-trans-btn: c.scale($color-primary, $lightness: -20%);