@use "index" as i;


.app-footer{
    position: absolute;
    bottom: -5.5rem;
    left: 0%;
    right: 0%;

    .footer-content{
        @include i.flex-center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 0.5rem;
        .divider{
            width: 90%;
        }
    }
}