.logo,
header{
    display: flex;   
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 1000;
    background-color: white;
}

.desktop-nav{
    display: block;
}

.mobile-nav{
    display: none;
    .mobile-nav-details{
        position: relative;
        .header-nav-ul{
            position: absolute;
            display: block;
            right: 100%;
            width: max-content;
            background-color: white;
            border-radius: 0.5rem;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
            .header-nav-li{
                display: flex;
                justify-content: center;
                cursor: pointer;
                padding: 0.5rem 1rem;
                z-index: 10;
            }
            .header-nav-li:hover{
                background-color: #f0f2fb;
            }
        }
    }
}

.mobile-nav-summary{
    list-style: none;
    cursor: pointer;
    svg{
        width: 1.5rem;
        height: 1.5rem;
    }
}

.logo{
    justify-content: start;
    height: 2rem;
    align-items: center;
    .logo-icon-link{
        .logo-icon{
            display: flex;
            align-items: center;
            width: 3rem;
            height: 3rem;
        }
    }

    .logo-name-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }
}

@media (width <= 700px){
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }

    .header-nav-ul{
        flex-direction: column;
    }
}